<ul class="nav">
  <li>
    <%= link_to "Daniel Green", root_path, class: 'brand' %>
  </li>
  <li>
    <%= link_to "Me", me_index_path, class: "top-menu" %>
  </li>
  <li>
    <%= link_to "Collaborate", root_path, class: "top-menu" %>
  </li>
</ui>

<!--
</li>
<li>
<%= link_to "Ideas", ideas_path, class: "top-menu" %>
</li>
<li>
<%= link_to "Me", ideas_path, class: "top-menu" %>
</li>
</ul>
-->
